workflows/02-error-handling.json
{
  "name": "Triage Bot - 2. Error Handling",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 448],
      "id": "49c5a0f6-cf6e-4883-afe1-003708a0be26",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e-ts", "name": "Timestamp", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "e-wf", "name": "Workflow", "value": "={{ $json.workflow?.name || 'Unknown workflow' }}", "type": "string" },
            { "id": "e-node", "name": "FailedNode", "value": "={{ $json.execution?.lastNodeExecuted || 'Unknown node' }}", "type": "string" },
            { "id": "e-msg", "name": "ErrorMessage", "value": "={{ $json.execution?.error?.message || $json.error?.message || 'No message' }}", "type": "string" },
            { "id": "e-url", "name": "ExecutionUrl", "value": "={{ $json.execution?.url || '' }}", "type": "string" },
            { "id": "e-sev", "name": "Severity", "value": "={{ (($json.execution?.error?.message || '') + '').toLowerCase().match(/auth|credential|quota|rate limit|forbidden|401|403|429/) ? 'HIGH' : 'STANDARD' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 448],
      "id": "8f01b704-a175-469f-a842-991e5c64c8f1",
      "name": "Extract Error Details"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YpKAnWEdUc0kUmwdViPT4XsbfEhk0a_7QeLLT_p-YC4",
          "mode": "list",
          "cachedResultName": "AI-Powered Customer Support Triage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YpKAnWEdUc0kUmwdViPT4XsbfEhk0a_7QeLLT_p-YC4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 103055639,
          "mode": "list",
          "cachedResultName": "ErrorLog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YpKAnWEdUc0kUmwdViPT4XsbfEhk0a_7QeLLT_p-YC4/edit#gid=103055639"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Workflow": "={{ $json.Workflow }}",
            "Severity": "={{ $json.Severity }}",
            "FailedNode": "={{ $json.FailedNode }}",
            "ExecutionUrl": "={{ $json.ExecutionUrl }}",
            "ErrorMessage": "={{ $json.ErrorMessage }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "FailedNode", "displayName": "FailedNode", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ErrorMessage", "displayName": "ErrorMessage", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Severity", "displayName": "Severity", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ExecutionUrl", "displayName": "ExecutionUrl", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [480, 448],
      "id": "bc2238a7-2120-4efc-83ca-da964ea3cd93",
      "name": "Append to ErrorLog",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "kKq0sfkATK5zLJNS", "name": "Ryan's Google Sheets" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "if-sev-001", "leftValue": "={{ $json.Severity }}", "rightValue": "HIGH", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [720, 448],
      "id": "0dff3a8d-a5d0-466c-86b9-c1c9f3011aae",
      "name": "Critical? (escalate)"
    },
    {
      "parameters": {
        "sendTo": "ryan.mwangi5@student.moringaschool.com",
        "subject": "=[ESCALATION] Triage Bot failure in {{ $json.Workflow }}",
        "message": "=A CRITICAL failure was detected in the Triage Bot system and needs immediate attention.\n\nSeverity: {{ $json.Severity }}\nWorkflow: {{ $json.Workflow }}\nFailed node: {{ $json.FailedNode }}\nTime: {{ $json.Timestamp }}\n\nError message:\n{{ $json.ErrorMessage }}\n\nOpen the failed execution:\n{{ $json.ExecutionUrl }}\n\nLikely cause: authentication / quota / rate-limit. Check the relevant credential or provider status, then re-run from the execution above.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [960, 336],
      "id": "020def2c-2d77-48af-975d-b7ccfc60889e",
      "name": "Escalation Alert (urgent)",
      "webhookId": "643f293a-24ed-437d-91ec-3451fd8bdae6",
      "credentials": { "gmailOAuth2": { "id": "kNJFk3eoaf9XE63X", "name": "Ryan's Gmail" } }
    },
    {
      "parameters": {
        "sendTo": "ryan.mwangi5@student.moringaschool.com",
        "subject": "=[Triage Bot] Handled error in {{ $json.Workflow }}",
        "message": "=The Triage Bot caught and logged a non-critical error.\n\nSeverity: {{ $json.Severity }}\nWorkflow: {{ $json.Workflow }}\nFailed node: {{ $json.FailedNode }}\nTime: {{ $json.Timestamp }}\n\nError message:\n{{ $json.ErrorMessage }}\n\nExecution: {{ $json.ExecutionUrl }}\n\nThis has been recorded in the ErrorLog tab for review. No immediate action required.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [960, 560],
      "id": "d82a28d6-3df5-47c0-8c69-1576938ac367",
      "name": "Standard Alert",
      "webhookId": "866e32d6-47cc-4a6e-bdd8-c8e24b363708",
      "credentials": { "gmailOAuth2": { "id": "kNJFk3eoaf9XE63X", "name": "Ryan's Gmail" } }
    },
    {
      "parameters": {
        "content": "## 2. ERROR HANDLING WORKFLOW\n\nSet this as the **Error Workflow** for the other two workflows (Settings -> Error Workflow). Then ANY unhandled failure anywhere triggers this:\n\n1. **Detect** - Error Trigger fires on any failed execution.\n2. **Extract** - pulls workflow, failed node, message, execution URL.\n3. **Classify** - auth/quota/rate-limit => HIGH, else STANDARD.\n4. **Log** - appends to the ErrorLog tab (audit trail).\n5. **Alert / Escalate** - HIGH -> urgent escalation email; otherwise standard notification.\n\nDemonstrates: error detection, logging, alerting, severity-based escalation. Pairs with the retry + model-fallback + continue-on-error built into Workflow 1.",
        "height": 360,
        "width": 440,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "9dfb8a7d-c099-44d5-a44c-3ecb4fe8b7ac",
      "name": "Error WF Note"
    }
  ],
  "pinData": {},
  "connections": {
    "On Workflow Error": { "main": [[{ "node": "Extract Error Details", "type": "main", "index": 0 }]] },
    "Extract Error Details": { "main": [[{ "node": "Append to ErrorLog", "type": "main", "index": 0 }]] },
    "Append to ErrorLog": { "main": [[{ "node": "Critical? (escalate)", "type": "main", "index": 0 }]] },
    "Critical? (escalate)": {
      "main": [
        [{ "node": "Escalation Alert (urgent)", "type": "main", "index": 0 }],
        [{ "node": "Standard Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5e5dacb8-3ee7-4ecd-ab46-b5cddb57349e",
  "meta": { "instanceId": "8fe1c9684e96b91e17560af1f37ca55733604b33a31c482c3e81dbd987efa8be" },
  "id": "YSjtuckHuTkzUoc0",
  "tags": []
}
